.left{
    display: flex;
}
.center{
    display: flex;
    align-items: center;
}
.right{
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}
.container{
    margin: 20px;
    display: flex;
}
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  .box-head {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    font-size: 20px;
  }
  main{
      /* background-color: lightgray; */
height: 500px;
  }





  /* ------------------------1st box------------------------ */

  /* .container-1{
display: flex;
display: block;
display: grid;
float: left;
padding: 100px; 
gap: 5px;
width: 300px;
  border: 2px solid red;
  }
  
  .div1 {
    background: lightblue;
    border: 2px solid blue;
 padding: 20px;
 width: 100px;
    
  }
  
  .div2 {
    background: lightgreen;
    border: 2px solid green;
    padding: 20px;
    width: 100px
  }
  
  .div3 {
    background: lightseagreen;
    border: 2px solid seagreen;
    padding: 20px;
    width: 100px
  }
   */


  /* .main-container{ 
  display: flex;
    float: left;
    width: 500px;
    padding: 0 auto;
    height: 100px;
    margin: 30px;
   background-color: aliceblue; 
    border: 2px red;
  }
 

#overflowTest {
  background: #4CAF50;
  color: white;
  padding: 15px;
  width: 50%;
  height: 200px;
  overflow: scroll;
  border: 1px solid #ccc;
 margin-left: 200px;
}  */



.in-para{
  background-color: lightsalmon;
  width: 100px;
  padding: 20px;
}


.box-head-4 {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

.container-4{
  clear: both;
  margin-bottom: 50px;
  
}
.container-flex{
  display: block;
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  
  flex-direction: column;
  
}

.flex-container > div {
  background-color: red;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  flex-direction: column;
  justify-content: center;
}

.columns{
  clear: both;
  display: flex;
  display: block;
}
.flex-container {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container > div {
  background-color: red;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;

}

a{
 margin: 5px;
}
.login{
  color: white;
  background-color: black;
  padding: 20px;
}
.name{
  font-size: 20px;
}
h1{
font-size: 30px;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 500px;
  background-color: yellow;
  width: 50px;
  padding: 10px;
  font-size: 20px;
  float: right;
}


/* -------------------------------------- */


.container-5{
  clear: both;
  display: block;
  display: flex;
  margin-top: 50px;
}

.multi-flex-container > div{
  display: flex;
  background-color: red;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  /* flex-direction: ; */
  /* justify-content: center; */
  flex-wrap: wrap;
}



.multi-flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
}

.multi-flex-container > div {
  display: flex;
  background-color: #f1f1f1;
  width: 180px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.multi-flex-container > div #twenty-two{
  /* display: flex; */
align-self:center;
}




.container-6{
  clear: both;
  display: block;
  display: flex;
  margin-top: 50px;
}

.center { 
  justify-content: center; 
}




.flex-item {
  background: tomato;
  padding: 5px;
  width: 100px;
  height: 50px;
  margin: 5px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.list{
  display: flex;
  justify-content: center;
}
.list{
  display: flex;
  justify-content: center;
}
.twenty-two{
  display: flex;
  justify-content: center;
}

.container-z{
  margin: 20px;
}

/* ---------------------------------------- */
.big-container{
  clear: both;
  display: block;
  display: flex;
  margin: 10px;
}
.sub-1{
  padding: 20px;
  width: 100px;
  background-color: orange;
  border: 2px solid orangered;
}
.blue-1{
  padding: 20px;
  width: 100px;
  background-color: lightskyblue;
  border: 2px solid blue;
}


