.left{
    display: flex;
}
.center{
    display: flex;
    align-items: center;
}
.right{
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}
.container{
    margin: 20px;
    display: flex;
}
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .box-head {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    font-size: 20px;
  }
  main{
height: 500px;
  }


.in-para{
  background-color: lightsalmon;
  width: 100px;
  padding: 20px;
}


.box-head-4 {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

.container-4{
  clear: both;
  margin-bottom: 50px;
  
}
.container-flex{
  display: block;
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  
  flex-direction: column;
  
}

.flex-container > div {
  background-color: red;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  flex-direction: column;
  justify-content: center;
}

.columns{
  clear: both;
  display: flex;
  display: block;
}
.flex-container {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container > div {
  background-color: pink;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;

}

a{
 margin: 5px;
}
.login{
  color: white;
  background-color: black;
  padding: 20px;
}
.name{
  font-size: 20px;
}
h1{
font-size: 30px;
}

div.sticky {
  position: sticky;
  /* position: sticky; */
  top: 200px;
   background-color: darkblue; 
  width: 50px;
  padding: 10px;
  font-size: 20px;
  float: right;
}


/* -------------------------------------- */


.container-5{
  clear: both;
  display: block;
  display: flex;
  margin-top: 50px;
}

.multi-flex-container > div{
  display: flex;
  background-color: pink;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  /* flex-direction: ; */
  /* justify-content: center; */
  flex-wrap: wrap;
}



.multi-flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: pink;
}

.multi-flex-container > div {
  display: flex;
  background-color: yellow;
  color: black;
  width: 180px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.multi-flex-container > div #twenty-two{
  /* display: flex; */
align-self:center;
}




.container-6{
  clear: both;
  display: block;
  display: flex;
  margin-top: 50px;
}

.center { 
  justify-content: center; 
}




.flex-item {
  background: yellow;
  padding: 5px;
  width: 100px;
  height: 50px;
  margin: 5px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.list{
  display: flex;
  justify-content: center;
}
.list{
  display: flex;
  justify-content: center;
}
.twenty-two{
  display: flex;
  justify-content: center;
}

.container-z{
  margin: 20px;
}

/* ---------------------------------------- */
.big-container{
  clear: both;
  display: block;
  display: flex;
  margin: 10px;
}
.sub-1{
  padding: 20px;
  width: 100px;
  background-color: orange;
  border: 2px solid orangered;
}
.blue-1{
  padding: 20px;
  width: 100px;
  background-color: lightskyblue;
  border: 2px solid blue;
}


/* ---------------footer------------------- */
/* .footer {
   position: fixed; 
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: aqua;
  color: white;
  text-align: center;
} */
 .fa {
  padding: 10px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;} 


  footer {
    margin-top: 100%;
    clear: both;
    display: block;
    text-align: center;
    padding: 10px;
    background-color: aqua;
    color: white;
  }
  i{
    float: left;
    color: black;
    font-size: large;
    margin-left: 30px;
  }

  /* ----------------stick bar------------------ */
  .icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding-top: 50px;
    transition: all 0.3s ease;
    color: white;
    font-size: 100px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .home {
    /* background: #3B5998; */
    color: white;
  }
