.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: 200px;
  }
  .box>*:first-child {
      align-self: stretch;
  }
  .box .selected {
      align-self: center;
  }
  .rough2{
      justify-content: end;
  }    